@import '../colors';
@import '../globals';
// @use "sass:list";

$colors: ("1": $palette-1, "2": $palette-2, "3": $palette-3);
$shades: ("1": $palette-1-dark, "2": $palette-2-dark, "3": $palette-3-dark);

@each $num, $color in $colors {
  .kbl-btn-#{$num} {
    background: $color;
    border-radius: $radius-btn;
    border-color: $color;
    font-weight: 500;
    color: white;
    transition: 0.3s;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.2)!important;

    &:focus {
      -webkit-box-shadow: 0px 0px 0px 2px rgba($color,0.48);
      box-shadow: 0px 0px 0px 2px rgba($color,0.48);
    }

    &.disabled {
      pointer-events: none;
      background: #aeaeae!important;
      border-color: #aeaeae!important;
    }
  }
}

@each $num, $shade in $shades {
  .kbl-btn-#{$num} {
    &:hover {
      background: $shade;
      border-color: $shade;
      color: white;
    }

    &:focus {
      background: $shade!important;
      border-color: $shade!important;
      color: white;
    }
  }
}
