@import '../../scss/colors.scss';
@import '../../scss/globals';


.cardd{
    border-radius: 12px;
    padding-bottom: 10px;
}

.heading{
    padding: 0.7rem 0.5rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: $palette-2;
    color:white;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Arial, Tahoma;
}

.heading2{
    padding-bottom: 0;
    margin-top: 0;
    font-weight: 550;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Arial, Tahoma;
}

.heading3{
    // text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Arial, Tahoma;
}

.heading4{
    // text-align: left;
    // margin-bottom: 0;
    // margin-top: 0;
    // padding-left: 20px;
    font-weight: 500;
    font-size: 13.5px;
    font-family: "Roboto", "Helvetica Neue", Arial, Tahoma;
}

.infodiv{
 padding-left: 20px;   
}

.info{
    padding: 0.2rem 1rem;
    text-align: justify;
    font-size: 0.9rem;
}
.line{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    
}
.linked{
    font-size: 0.9rem;
    font-weight: 500;
}

.list {
    padding-left: 50px;
    text-align: left;
}

.list2 {
    padding-left: 20px;
    text-align: left;
}


.db{
   margin-left: 10px;
   margin-right: 10px;
}
.db2{
    padding-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
 }

 .hpidb{
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
 }

 .web{
     text-align: center;
     margin:0;
    
 }

.title{
    text-align:center ;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 0;
    font-size:1rem;
    font-weight:bold;
}
 .ant-btn-primary {
    color: #fff;
    border-color: lightblue !important;
    background: #539de3;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
  }

  .ant-btn-round {
    height: 32px;
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 32px;
  }
  .btn-primary {
    background-color: rgb(190, 83, 83);
    border-color: rgb(190, 83, 83) !important;
  }