@import '../../scss/colors.scss';
@import '../../scss/globals';

.cy-container {
  background: #f8f7f7;
  border-radius: $big-radius;
  overflow: hidden;
  box-shadow: 0 .155rem .180rem rgba(51, 50, 50, 0.582);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 .195rem .220rem rgba(0, 0, 0, 0.25);
  }
}

.cy-container div * {
  left: 0;
}

.dl-icon {
  color: $palette-1;
  font-size: 200%;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $palette-1-dark;
  }
}

.legend-icon {
  font-size: 100%;
  margin-right: 10px;
  box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.5)!important;
  border-radius: 999px;
  padding: 0;
}

.legend-text {
  font-weight: 600;
}

.species{
  margin-left: 60px;
  align-items: left !important;
  text-align: left;
}
