@import '../../scss/colors.scss';
@import '../../scss/globals';
.infos{
    padding: 0.2rem 1rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(231, 39, 39);
}
.infos1{
    padding: 0.2rem 1rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 600;
}