@import '../../scss/colors.scss';
@import '../../scss/globals';

.bar-selector {

  span {
    margin-right: 5px;
    font-size: 160%;
    font-weight: 600;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    border-radius: $border-radius;

    padding: 3px 12px;
    color: #c8c8c8;

    &:hover {
      background: $palette-2-bg;

      &:not(.selected) {
        color: $text-ghost!important;
      }
    }

    &.selected {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      color: $palette-2;
      border-color: $palette-2;
    }
  }
}
