@import '../../scss/colors.scss';
@import '../../scss/globals';



.label-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
}


.input-text {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.cold {
    margin-left: 20px;
    margin-right:20px;
}
.modal-query{
    background-color: green;
    color: white;
}

.loading {
    
    background-color: 'transparent';
    backface-visibility: hidden;    
}

.contbg{
    background-color: whitesmoke;
}

.form-control:focus {
    outline: none!important;
    box-shadow: none!important;
  }
  
  .kbl-form {
    background: #ececec;
    border-radius: $border-radius;
    transition: 0.3s;
    border: solid 1px #dedede!important;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15)!important;
  
    &::placeholder {
      color: #a1a1a1;
    }
  
    &:hover {
      background: #f5f5f5;
    }
  
    &:focus {
      background: $white!important;
      box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15)!important;
    }
  }


  .kbl-btn-1 {
    background: $palette-1;
    border-radius: $radius-btn;
    border-color: $palette-1;
    font-weight: 500;
    color: white;
    transition: 0.3s;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.2)!important;

    &:focus {
      -webkit-box-shadow: 0px 0px 0px 2px rgba($palette-1,0.48);
      box-shadow: 0px 0px 0px 2px rgba($palette-1,0.48);
    }

    &.disabled {
      pointer-events: none;
      background: #aeaeae!important;
      border-color: #aeaeae!important;
    }
    &:hover {
        background: $palette-1-dark;
        border-color: $palette-1-dark;
        color: white;
      }
  
      &:focus {
        background: $palette-1-dark!important;
        border-color: $palette-1-dark!important;
        color: white;
      }
  }



  .kbl-btn-2 {
    background: $palette-4;
    border-radius: $radius-btn;
    border-color: $palette-4;
    font-weight: 500;
    color: white;
    transition: 0.3s;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.2)!important;

    &:focus {
      -webkit-box-shadow: 0px 0px 0px 2px rgba($palette-4,0.48);
      box-shadow: 0px 0px 0px 2px rgba($palette-4,0.48);
    }

    &.disabled {
      pointer-events: none;
      background: #aeaeae!important;
      border-color: #aeaeae!important;
    }
    &:hover {
        background: $palette-4-dark;
        border-color: $palette-4-dark;
        color: white;
      }
  
      &:focus {
        background: $palette-4-dark!important;
        border-color: $palette-4-dark!important;
        color: white;
      }
  }
