@import '../../scss/colors.scss';
@import '../../scss/globals';

.nav-wrapper {
  // border-radius: $nav-radius;
  background: $nav-back;
  color:$white;
  // box-shadow: 0px 8px 16px 2px rgba(68,68,68,0.14);
  
  // border: solid 1px $nav-outline;
  transition: 0.3s;

  &:hover {
    // border-color: $nav-outline-hvr;
    // box-shadow: 0px 8px 16px 2px rgba(68,68,68,0.24);

    .h-brand {
      color: $text-main!important;
    }
  }
}

.nav-link {
  border-bottom: solid 2px transparent;
  transition: 0.3s;
  padding-bottom: 0px;
  font-size: 1rem;
  font-weight: 600;
  color: $text-ghost!important;

  &.current {
    color: $text-main!important;
    border-color: $palette-1;
  }

  &:hover:not(.current) {
    border-color: $palette-1;
    color: $text-light!important;
  }
}

.h-brand {
  transition: 0.3s;
  color: $text-ghost!important;
}

.contain{
    background-color: $nav-back;
    margin-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: 0.3s;

  &:hover {
    border-color: $nav-outline-hvr;
    box-shadow: 0px 8px 16px 2px rgba(68,68,68,0.24);
  }
}

.divider{
    background-color: black;
}