$black: #011627;
$white: #FDFFFC;
$palette-1: #217ed5;
// $palette-2: #074ba5;
$palette-2: #52796F;
$palette-3: #FF9F1C;
$palette-4:rgba(239, 48, 48, 0.822);
$palette-5: #748b80;
// 5fa15a
// eab271
// 1d2d44d0
$nav-outline: #eff;
$nav-outline-hvr: rgba(#217ed5,.4);

$text-ghost:rgb(0, 0, 0);
$text-light: #717171;
$text-main: #393939;
$text-hard: #212121;

$color-light-grey: #c9c9c9;

$palette-1-v-light: #abeef0;

$palette-1-bg: #e2fcfc;
$palette-2-bg: #ffe4eb;

$palette-1-light: #1890ff;
$palette-2-light: #ffe9ee;

$palette-1-dark: #1472ca;
$palette-2-dark: #ab1236;
$palette-3-dark: #bb781c;
$palette-4-dark:rgba(243, 16, 16, 0.87);

$chip-bg: #def5ff;
$chip-font: #036778;

$palette-1-pastel: #a9fafc;

$nav-back : #96c4a0;
// 9ecf7d
// f08585
// 7dce82
// rgb(152, 171, 196)